<h1>Kayit Ol</h1>

<% if(typeof errors !== 'undefined' && errors.length > 0) { %>
    <% for(let err of errors) { %>
        <div style="background-color: red; color: white; padding: 5px;">
            <%= err.msg %> <br>
        </div>
    <% } %>
<% } %>

<form action="/auth/register" method="post">
    <input type="text" placeholder="Kullanıcı adı" name="username" id="username" value="<%= typeof formData !== "undefined" ? formData.username : '' %>" > <br>
    <input type="email" placeholder="Mail" name="email" id="email" value="<%= typeof formData !== "undefined" ? formData.email : '' %>"> <br>
    <input type="password" placeholder="Şifre" name="password" id="password"> <br>
    <input type="password" placeholder="Şifre (yeniden)" name="passwordConf" id="password"> <br>
    <input type="file" name="avatar"> <br>
    <button type="submit">Kayit Ol</button>
</form>
